<!DOCTYPE html>
<html lang="en">




    <head>
        <title>Fios</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <script src="jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js" integrity="sha256-F0O1TmEa4I8N24nY0bya59eP6svWcshqX1uzwaWC4F4=" crossorigin="anonymous"></script>
        <script src="script.js"></script>
        <!-- slick -->
        <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
        <script src="slick/slick.min.js"></script>
    </head>




    <body>




        <div class="background-overlay display-none"></div>




        <div class="my-verizon display-none">
            <img src="assets/assets-my-verizon/exit.png" class="float-right js-my-verizon-exit">
            <div class="text-large">Welcome back, Verizon customer.</div>
            <div class="text-medium">How can we help you today?</div>


            <div class="block block__left float-left">


                <div class="block__left--top float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">Pay my bill / Account help</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">Log in to your My Verizon account.</div>
                </div> <!-- /block__left--top -->


                <div class="block__left--bottom float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">I'm moving</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">We'll help make the process simple and easy.</div>
                </div> <!-- /block__left--bottom -->


            </div> <!-- /block__left -->


            
            <div class="block block__right float-left">


                <div class="block__right--top float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">Upgrade / change my service</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">Add or upgrade services in the online cart.</div>
                </div> <!-- /block__right--top -->


                <div class="block__right--bottom float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">Technical support</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">Visit the Fios support center.</div>
                </div> <!-- /block__right--bottom -->


            </div> <!-- /block__left -->


        </div> <!-- /my-verizon -->
    
    
    
    
        <div class="page-index">
    
    
    
    
                <div class="header">
    
    
                    <a class="header__icon float-left" href="/index">
    
    
                        <img class="fios-icon float-left" src="/assets/assets-index/fios.png">
                        <img class="checkmark-icon float-right" src="/assets/assets-index/check.png">
                        <div class="logo-maintext clear">by verizon</div>
                        <div class="logo-subtext">authorized retailer</div>
    
    
                    </a>
    
    
                    <div class="header__contact">
    
    
                        <div class="customer-type float-left">
                            <div class="float-left residential">Residential</div>
                            <div class="float-left business">Business</div>
                        </div>
                        <div class='contact-number'>
                            <div class='icon'><img src='/assets/assets-index/ShapeHeader.png'></div>
                            <div class="number">Ready to order: Call 1.888.888.8888</div>
                            <div class="message">15+ sales agents are ready to help.</div>
                        </div>
    
    
                    </div>
    
    
                    <div class="header__nav">
    
    
                        <div class="nav-link float-left">
                            <a href="/shop-fios">Shop Fios</a>
                        </div>
    
                        <div class="nav-link float-left">
                            <a href="/why-fios">Why Fios</a>
                        </div>
    
                        <div class="nav-link float-left">
                            <a href="/support">Support</a>
                        </div>

                        <div class="nav-link float-left js-my-verizon-modal">
                            <div>My Verizon</div>
                        </div>
    
    
                    </div> <!-- /header__nav -->
    
    
                </div> <!-- /header -->
    
    
    
    
                <div class='main-divider'></div>
    
    
    
    
                <div class="sales-banner-top">
    
    
                    <div class="sales-banner-top__shape-icon">
                        <img class="sales-banner-top__oval-icon" src="/assets/assets-index/Oval.png">
                    </div>
    
                    <div class='sales-banner-top__savings-title'>Savings included:</div>
    
                    <div class='sales-banner-top__savings-content'>Order Fios and your price includes $10/mo. savings for 2 years.</div>
    
                    <div class="global__arrow__wrapper">
                        <a href="https://www.google.com">
                            <div class='sales-banner-top__savings-message'>Start shopping</div>
            
                            <div class='global__arrow__block sales-banner-top__savings-icon'><img class="global__arrow" src='/assets/assets-index/Page1.png'></div>
                        </a>
                    </div>
                    
    
                </div> <!-- /sales-banner-top -->
    
    
    
    
                <div class="hero">
    
    
                    <div class='hero__wrapper'>
    
    
                        <div class="hero__wrapper__sub-wrapper">
    
                            <!-- here, i decided to abandon the string of hero__wrapper__sub-wrapper simply because it would take so much room to write it, and there arent many children in this section except split-border, which could probbaly have a better name -->
                            <div class='hero-text-large'>Get more. Get merrier. Get Fios and get a &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2-year price guarantee.</div>
    
                            <div class='hero-text-medium '>Plus, get 2 years of SHOWTIME &#174; and Multi-room DVR Enhanced Service included when you switch to the 100% fiber-optic network this holiday season.</div>
    
                            <div class='hero-text-medium guarantee'>2-year price guarantee</div>
    
                            <div class='divider'></div>
    
                            <div class='hero-text-medium gigabite'>Fios Gigabit Connection with TV + Home Phone</div>
    
                            <div class='hero-text-large amount'>$79.99/mo</div>
    
                            <div class='hero-text-small'>for 2 yrs. w/ 2-yr. agmt., + taxes, RSN, FDV, & other fees & $12/mo. STB equip. charge<sup class="superscript">1</sup></div>
    
                            <div class='split-border'>
                                <div class='split-divider float-left'></div>
                                <div class='split-text float-left'>Plus, included for 2 years</div>
                                <div class='split-divider float-left'></div>
                            </div>
    
                            <div class="extra-packages">
                                <div class="showtime"><img src="/assets/assets-index/showtime.png"></div>
                                <div class="and">and</div>
                                <div class="dvr">Multi-room DVR Enhanced Service</div>
                            </div>
    
                            <a href="https://www.google.com">
                                <div class="start-shopping">Start shopping</div>
                            </a>
    
    
                        </div> <!-- /hero__wrapper__sub-wrapper -->
    
    
                    </div> <!-- hero__wrapper -->
    
    
                </div> <!-- /hero -->
    
    
    
    
                <div class='fios'>


                    <div class="fios__wrapper">


                        <div class="fios__subwrapper">


                            <div class='fios__header'>What makes Fios, Fios:</div>


                            <div class="fios__block">
            
            
                                <div class='fios__section-left'>
                                    <div class='fios__subhead--left'>100%</div>
                                    <div class='fios__subhead--right'>fiber-optic network</div>
                                    <div class='fios__content'>Your tech is only as good as your internet. So get the best internet &nbsp; with the 100% fiber-optic &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; network.</div>
                                </div>
            
            
                                <div class='fios__section-middle'>
                                    <div class='fios__subhead--left'>#1</div>
                                    <div class='fios__subhead--right'>in customer satisfaction</div>
                                    <div class='fios__content'>Want the most awarded network &nbsp; &nbsp; for internet speed and customer satisfaction over the past 10 &nbsp; &nbsp; &nbsp; years? You want Fios.</div>
                                </div>
            
            
                                <div class='fios__section-right'>
                                    <div class='fios__subhead--left'>99.9%</div>
                                    <div class='fios__subhead--right'>network reliability</div>
                                    <div class='fios__content'>Fios provides the fastest and &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; most reliable internet available. <sup class="superscript">3</sup> &nbsp; &nbsp; &nbsp; &nbsp; So get the network you can &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; count on. Get Fios.</div>
                                </div>
            
            
                            </div> <!-- /fios__block -->


                        </div>


                    </div>
    
    
                </div> <!-- /fios -->
    
    
    
    
                <div class="sales-banner-bottom">
    
    
                    <div class="sales-banner-bottom__wrapper">
    
    
                        <div class="sales-banner-bottom__section-left">Take your home life to the next level with Fios.</div>
    
                        <a href="https://www.google.com">
                            <div class="sales-banner-bottom__section-right global__arrow__wrapper">
                                <div class="float-left">Start shopping</div>
                                <div class="global__arrow__block">
                                    <img class="global__arrow arrow" src="/assets/assets-index/Page1b.png">
                                </div>
                            </div>
                        </a>
    
    
                    </div>
    
    
                </div> <!-- /sales-banner-bottom -->
    
    
    
    
                <div class="footer">
    
    
                    <div class="footer__section-left">
    
                        <div class="footer__subsection--nav">

                            <div class="nav-link"><a href="/shop-fios">Shop Fios</a></div>

                            <div class="nav-link"><a href="/why-fios">Why Fios</a></div>

                            <div class="nav-link"><a href="/support">Support</a></div>

                            <div class="nav-link js-my-verizon-modal">
                                <div>My Verizon</div>
                            </div>

                        </div> <!-- / footer__subsection--nav -->
    
                        <div class="footer__subsection--copyright">&copy; Copyright 2017 Vweb. All rights reserved</div>
    
                        <div class="footer__subsection--terms">
                            <a class="terms-link" href="https://www.google.com">Terms of Service</a>
                            <a class="terms-link" href="https://www.google.com">Privacy Policy</a>
                            <a class="terms-link" href="https://www.google.com">Cookie-Opt-Out</a>
                        </div> <!-- /footer__subsection--terms -->
    
                    </div> <!-- /footer__section-left -->
    
                    <div class="footer__section-right">
                        <div class="share">Share:</div>
                        <a href="https://www.facebook.com"><img class="facebook" src="/assets/assets-index/facebook.png"></a>
                        <a href="https://www.twitter.com"><img class="twitter" src="/assets/assets-index/twitter.png"></a>
                        <a href="https://plus.google.com/"><img class="google" src="/assets/assets-index/G+.png"></a>
                    </div> <!-- /footer__section-right -->
    
    
                </div> <!-- /footer -->
    
    
    
    
        </div> <!-- /page-index -->
    
    
    
    
    </body>



    
</html>
