<!DOCTYPE html>
<html>


    <head>

        <link rel="stylesheet" type="text/css" href="style.css"/>

        <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
        

        <script src="jquery-3.3.1.min.js"></script>

        <script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js" integrity="sha256-F0O1TmEa4I8N24nY0bya59eP6svWcshqX1uzwaWC4F4=" crossorigin="anonymous"></script>

        <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
        <!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->


        <script src="script.js" type="text/javascript"></script>

        <!-- slick CDN -->
        <!-- this theme uses plain html -->
        <link rel="stylesheet" type="text/css" href="slick/slick.css"/>

        <!-- this theme uses fancy design -->
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

        <script type="text/javascript" src="slick/slick.min.js"></script>

    </head>


    <body>




        <div class="background-overlay display-none"></div>




        <div class="my-verizon display-none">
            <img src="assets/assets-my-verizon/exit.png" class="float-right js-my-verizon-exit">
            <div class="text-large">Welcome back, Verizon customer.</div>
            <div class="text-medium">How can we help you today?</div>


            <div class="block block__left float-left">


                <div class="block__left--top float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">Pay my bill / Account help</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">Log in to your My Verizon account.</div>
                </div> <!-- /block__left--top -->


                <div class="block__left--bottom float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">I'm moving</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">We'll help make the process simple and easy.</div>
                </div> <!-- /block__left--bottom -->


            </div> <!-- /block__left -->


            
            <div class="block block__right float-left">


                <div class="block__right--top float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">Upgrade / change my service</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">Add or upgrade services in the online cart.</div>
                </div> <!-- /block__right--top -->


                <div class="block__right--bottom float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">Technical support</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">Visit the Fios support center.</div>
                </div> <!-- /block__right--bottom -->


            </div> <!-- /block__left -->


        </div> <!-- /my-verizon -->




        <div class="page-shop-fios">




            <div class="header">


                <a class="header__icon float-left" href="/index">


                    <img class="fios-icon float-left" src="/assets/assets-index/fios.png">
                    <img class="checkmark-icon float-right" src="/assets/assets-index/check.png">
                    <div class="logo-maintext clear">by verizon</div>
                    <div class="logo-subtext">authorized retailer</div>


                </a>


                <div class="header__contact">


                    <div class="customer-type float-left">
                        <div class="float-left residential">Residential</div>
                        <div class="float-left business">Business</div>
                    </div>
                    <div class='contact-number'>
                        <div class='icon'><img src='/assets/assets-index/ShapeHeader.png'></div>
                        <div class="number">Ready to order: Call 1.888.888.8888</div>
                        <div class="message">15+ sales agents are ready to help.</div>
                    </div>


                </div>


                <div class="header__nav">


                    <div class="nav-link float-left">
                        <a href="/shop-fios">Shop Fios</a>
                    </div>

                    <div class="nav-link float-left">
                        <a href="/why-fios">Why Fios</a>
                    </div>

                    <div class="nav-link float-left">
                        <a href="/support">Support</a>
                    </div>

                    <div class="nav-link float-left js-my-verizon-modal">
                        <div>My Verizon</div>
                    </div>


                </div> <!-- /header__nav -->


            </div> <!-- /header -->




            <div class='main-divider'></div>




            <div class="sales-banner-top">


                <div class="sales-banner-top__shape-icon">
                    <img class="sales-banner-top__oval-icon" src="/assets/assets-index/Oval.png">
                </div>

                <div class='sales-banner-top__savings-title'>Savings included:</div>

                <div class='sales-banner-top__savings-content'>Order Fios and your price includes $10/mo. savings for 2 years.</div>

                <div class="global__arrow__wrapper">
                    <a href="https://www.google.com">
                        <div class='sales-banner-top__savings-message'>Start shopping</div>

                        <div class='sales-banner-top__savings-icon global__arrow__block'><img class="global__arrow" src='/assets/assets-index/Page1.png'></div>
                    </a>
                </div>

            </div> <!-- /sales-banner-top -->




            <div class="cardsTitle__wrapper">


                <div class="cardsTitle__subwrapper">


                    <div class="cards-title">
                        <div class="text-large">Shop Fios plans.</div>
                    </div>


                </div>


            </div>




            <div class="cardsNav__wrapper">


                <div class="cardsNav__subwrapper">


                    <div class="cardsNav">

                        <div class="cardSelection cardsNav__left cardsNav__active" data-section="most-popular">Most popular</div>                

                        <div class="cardSelection cardsNav__center" data-section="internet">Internet only</div>

                        <div class="cardSelection cardsNav__right" data-section="bundles">Bundles</div>

                    </div>


                </div>


            </div>




            <div class="cardsGrid__wrapper">


                <div class="cardsGrid__subwrapper">

                    
                    <div class="cards__wrapper">
                        <button class="slick-prev slick-arrow" aria-label="Previous" type="button">Previous</button>


                        <div class="cards__endpoint__wrapper cards__endpoint__wrapper_most-popular">
                        </div>


                        <div class="cards__endpoint__wrapper cards__endpoint__wrapper_internet display-none">
                        </div>


                        <div class="cards__endpoint__wrapper cards__endpoint__wrapper_bundles display-none">
                        </div>


                        <button class="slick-next slick-arrow" aria-label="Previous" type="button">Previous</button>
                    </div>


                </div>


            </div>




            <!-- Using camelCase here to avoid hyphens in javascript -->
            <!-- <div class="cardsGrid__wrapper">
                
                <div class="cardsGrid__subwrapper">
                    
                    <div class="cards__wrapper">

                        <button class="slick-prev slick-arrow" aria-label="Previous" type="button">Previous</button>

                        <div class="cards__endpoint__wrapper">

                            <div class="card">one</div>
                            <div class="card">two</div>
                            <div class="card">three</div>
                            <div class="card">four</div>

                        </div>

                        <button class="slick-next slick-arrow" aria-label="Previous" type="button">Previous</button>

                    </div> 

                </div> 

            </div>  -->




            <div class="hero">


                <div class="hero__wrapper">


                    <div class="hero__subwrapper">


                        <div>
                            <div class="hero-text-large">Experience</div>
                            <div class="hero-text-large">the Fios difference.</div>
                        </div>

                        <div class="medium-text-modifier">
                            <div class="hero-text-medium">Ready for a better network? We thought so.</div>
                            <div class="hero-text-medium">Get the 100% fiber-optic network plus so much more.</div>
                        </div>


                        <div class="block__wrapper">


                            <div class="block left__block">
                                <div class="block-text-large">Worry-free guarantee</div>
                                <div class="block-text-medium">You've got 30 days to see if we're right for you. With no early termination fees.</div>
                            </div>


                            <div class="block center__block">
                                <div class="block-text-large">24/7 tech support</div>
                                <div class="block-text-medium">We're here to help when you need it - available 24/7 by phone or online.</div>
                            </div>


                            <div class="block right__block">
                                <div class="block-text-large">Fios mobile apps</div>
                                <div class="block-text-medium">Watch shows, set your DVR, pay your bill and get live help - all from your mobile device.</div>
                            </div>


                        </div> <!-- /block-wrapper -->


                        <div class="stream__block float-left">
                            <div class="stream--regular float-left">Stream &nbsp;</div>
                            <div class="stream--bold float-left">Spiderman: Homecoming</div>
                            <div class="stream--regular float-left">, now available on Fios On Demand.</div>
                        </div>


                    </div> <!-- /hero__subwrapper -->


                </div> <!-- /hero__wrapper -->


            </div> <!-- /hero -->




            <div class="questions">


                <div class="questions__wrapper">


                    <div class="questions__subwrapper">


                        <div class="questions__header">
                            <div class="questions--text-large">Questions about Fios?</div>
                            <div class="questions--text-large">We can help.</div>
                            <div class="questions--text-medium">Find answers to frequently asked Fios questions</div>
                        </div>


                        <div class="section__top">


                            <div class="section__top--left float-left">

                                <img src="assets/assets-shop-fios/globe.png" class="float-left">

                                <div class="section--text-large float-left">Is Fios the same thing as cable?</div>

                                <div class="section--text-medium clear">No. Unlike cable, Fios is powered by a 100% fiber-optic network. Fiber-optics are known for fast speeds and reliability.</div>
                            </div> <!-- /section__top-left -->


                            <div class="section__top--right float-left">

                                <img src="assets/assets-shop-fios/return.png" class="float-left">

                                <div class="section--text-large float-left">If I'm not happy, can I cancel my service?</div>

                                <div class="section--text-medium clear">With our Worry Free Guarantee, you have the flexibility to cancel Fios within the first 30 days - with no early termination fee.</div>
                            </div> <!-- /section__top-right -->


                        </div> <!-- /section__top -->


                        <div class="section__bottom clear">


                            <div class="section__bottom--left float-left">

                                <img src="assets/assets-shop-fios/play.png" class="float-left">

                                <div class="section--text-large float-left">When can I start watching Fios TV?</div>

                                <div class="section--text-medium clear">Once you receive your order confirmation, download the Fios&trade; Mobile app. You can start streaming Fios TV channels right away.</div>
                            </div> <!-- /section__bottom-left -->


                            <div class="section__bottom--right float-left">

                                <img src="assets/assets-shop-fios/alert.png" class="float-left">

                                <div class="section--text-large float-left">What if I need more speed or channels later?</div>

                                <div class="section--text-medium clear">You can upgrade your internet speed or your TV package at any time. Review this website to find the products you need then give us a call to upgrade.</div>
                            </div> <!-- /section__bottom-right -->


                        </div> <!-- /section__bottom -->


                    </div> <!-- /questions__subwrapper -->


                </div> <!-- /questions__wrapper -->


            </div> <!-- /questions -->




            <div class="footer">
    
    
                <div class="footer__section-left">

                    <div class="footer__subsection--nav">

                        <div class="nav-link"><a href="/shop-fios">Shop Fios</a></div>

                        <div class="nav-link"><a href="/why-fios">Why Fios</a></div>

                        <div class="nav-link"><a href="/support">Support</a></div>

                        <div class="nav-link js-my-verizon-modal">
                            <div>My Verizon</div>
                        </div>

                    </div> <!-- / footer__subsection--nav -->

                    <div class="footer__subsection--copyright">&copy; Copyright 2017 Vweb. All rights reserved</div>

                    <div class="footer__subsection--terms">
                        <a class="terms-link" href="https://www.google.com">Terms of Service</a>
                        <a class="terms-link" href="https://www.google.com">Privacy Policy</a>
                        <a class="terms-link" href="https://www.google.com">Cookie-Opt-Out</a>
                    </div> <!-- /footer__subsection--terms -->

                </div> <!-- /footer__section-left -->

                <div class="footer__section-right">
                    <div class="share">Share:</div>
                    <a href="https://www.facebook.com"><img class="facebook" src="/assets/assets-index/facebook.png"></a>
                    <a href="https://www.twitter.com"><img class="twitter" src="/assets/assets-index/twitter.png"></a>
                    <a href="https://plus.google.com/"><img class="google" src="/assets/assets-index/G+.png"></a>
                </div> <!-- /footer__section-right -->


            </div> <!-- /footer -->




        </div>




    </body>
</html>
