<!DOCTYPE html>
<html>


    <head>

        <link rel="stylesheet" type="text/css" href="style.css"/>

        <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
        

        <script src="jquery-3.3.1.min.js"></script>

        <script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js" integrity="sha256-F0O1TmEa4I8N24nY0bya59eP6svWcshqX1uzwaWC4F4=" crossorigin="anonymous"></script>

        <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
        <!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->


        <script src="script.js" type="text/javascript"></script>

        <!-- slick CDN -->
        <!-- this theme uses plain html -->
        <link rel="stylesheet" type="text/css" href="slick/slick.css"/>

        <!-- this theme uses fancy design -->
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

        <script type="text/javascript" src="slick/slick.min.js"></script>

    </head>


    <body>




        <div class="background-overlay display-none"></div>




        <div class="my-verizon display-none">
            <img src="assets/assets-my-verizon/exit.png" class="float-right js-my-verizon-exit">
            <div class="text-large">Welcome back, Verizon customer.</div>
            <div class="text-medium">How can we help you today?</div>


            <div class="block block__left float-left">


                <div class="block__left--top float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">Pay my bill / Account help</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">Log in to your My Verizon account.</div>
                </div> <!-- /block__left--top -->


                <div class="block__left--bottom float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">I'm moving</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">We'll help make the process simple and easy.</div>
                </div> <!-- /block__left--bottom -->


            </div> <!-- /block__left -->


            
            <div class="block block__right float-left">


                <div class="block__right--top float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">Upgrade / change my service</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">Add or upgrade services in the online cart.</div>
                </div> <!-- /block__right--top -->


                <div class="block__right--bottom float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">Technical support</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">Visit the Fios support center.</div>
                </div> <!-- /block__right--bottom -->


            </div> <!-- /block__left -->


        </div> <!-- /my-verizon -->




        <div class="page-shop-fios">




            <div class="header">


                <a class="header__icon float-left" href="/index">


                    <img class="fios-icon float-left" src="/assets/assets-index/fios.png">
                    <img class="checkmark-icon float-right" src="/assets/assets-index/check.png">
                    <div class="logo-maintext clear">by verizon</div>
                    <div class="logo-subtext">authorized retailer</div>


                </a>


                <div class="header__contact">


                    <div class="customer-type float-left">
                        <div class="float-left residential">Residential</div>
                        <div class="float-left business">Business</div>
                    </div>
                    <div class='contact-number'>
                        <div class='icon'><img src='/assets/assets-index/ShapeHeader.png'></div>
                        <div class="number">Ready to order: Call 1.888.888.8888</div>
                        <div class="message">15+ sales agents are ready to help.</div>
                    </div>


                </div>


                <div class="header__nav">


                    <div class="nav-link float-left">
                        <a href="/shop-fios">Shop Fios</a>
                    </div>

                    <div class="nav-link float-left">
                        <a href="/why-fios">Why Fios</a>
                    </div>

                    <div class="nav-link float-left">
                        <a href="/support">Support</a>
                    </div>

                    <div class="nav-link float-left js-my-verizon-modal">
                        <div>My Verizon</div>
                    </div>


                </div> <!-- /header__nav -->


            </div> <!-- /header -->




            <div class='main-divider'></div>




            <div class="sales-banner-top">


                <div class="sales-banner-top__shape-icon">
                    <img class="sales-banner-top__oval-icon" src="/assets/assets-index/Oval.png">
                </div>

                <div class='sales-banner-top__savings-title'>Savings included:</div>

                <div class='sales-banner-top__savings-content'>Order Fios and your price includes $10/mo. savings for 2 years.</div>

                <div class="global__arrow__wrapper">
                    <a href="https://www.google.com">
                        <div class='sales-banner-top__savings-message'>Start shopping</div>

                        <div class='sales-banner-top__savings-icon global__arrow__block'><img class="global__arrow" src='/assets/assets-index/Page1.png'></div>
                    </a>
                </div>

            </div> <!-- /sales-banner-top -->




            <div class="cardsTitle__wrapper">


                <div class="cardsTitle__subwrapper">


                    <div class="cards-title">
                        <div class="text-large">Shop Fios plans.</div>
                    </div>


                </div>


            </div>




            <div class="cardsNav__wrapper">


                <div class="cardsNav__subwrapper">


                    <div class="cardsNav">

                        <div class="cardSelection cardsNav__left cardsNav__active" data-section="most-popular">Most popular</div>                

                        <div class="cardSelection cardsNav__center" data-section="internet">Internet only</div>

                        <div class="cardSelection cardsNav__right" data-section="bundles">Bundles</div>

                    </div>


                </div>


            </div>











            <div class="slick__wrapper">

                <img class="prev float-left" src="assets/assets-shop-fios/prev.png">

                <div class="cards__wrapper float-left">



                        <div class="cards__endpoint__wrapper cards__endpoint__wrapper_most-popular"></div>


                        
                        <div class="cards__endpoint__wrapper cards__endpoint__wrapper_internet display-none"></div>



                        <div class="cards__endpoint__wrapper cards__endpoint__wrapper_bundles display-none"></div>

                    

                </div> 

                <img class="next float-left" src="assets/assets-shop-fios/next.png">

            </div>











        </div>




    </body>
</html>
