<!DOCTYPE html>
<html>


    <head>

        <link rel="stylesheet" type="text/css" href="style.css"/>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js" integrity="sha256-F0O1TmEa4I8N24nY0bya59eP6svWcshqX1uzwaWC4F4=" crossorigin="anonymous"></script>

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
        <!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->

        <script src="script.js" type="text/javascript"></script>

        <!-- slick CDN -->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
        <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    </head>


    <body>




        <div class="page-support">




            <div class="wrapper">




                <div class="header">


                    <a class="header__icon float-left" href="/index">


                        <img class="fios-icon float-left" src="/assets/assets-index/fios.png">
                        <img class="checkmark-icon float-right" src="/assets/assets-index/check.png">
                        <div class="logo-maintext clear">by verizon</div>
                        <div class="logo-subtext">authorized retailer</div>


                    </a>


                    <div class="header__contact">


                        <div class="customer-type float-left">
                            <div class="float-left residential">Residential</div>
                            <div class="float-left business">Business</div>
                        </div>
                        <div class='contact-number'>
                            <div class='icon'><img src='/assets/assets-index/ShapeHeader.png'></div>
                            <div class="number">Ready to order: Call 1.888.888.8888</div>
                            <div class="message">15+ sales agents are ready to help.</div>
                        </div>


                    </div>


                    <div class="header__nav">


                        <div class="nav-link float-left">
                            <a href="/shop-fios">Shop Fios</a>
                        </div>

                        <div class="nav-link float-left">
                            <a href="/why-fios">Why Fios</a>
                        </div>

                        <div class="nav-link float-left">
                            <a href="/support">Support</a>
                        </div>

                        <div class="nav-link float-left">
                            <a href="/my-verizon">My Verizon</a>
                        </div>


                    </div> <!-- /header__nav -->


                </div> <!-- /header -->




                <div class='main-divider'></div>




                <div class="hero">


                    <div class='hero-wrapper'>


                        <div class="hero-wrapper__sub-wrapper">


                            <div class='hero-text-large'>Support &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; built around what matters. You.</div>
                            <div class="hero-text-medium">How can we help you today?</div>

                            <div class="helpful__wrapper">
                                <a href="https://www.google.com">
                                    <div class="helpful__link float-left">View or pay my bill</div>    
                                    <div class="arrow__block float-left"><img class="helpful__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                                </a>
                            </div>

                            <div class="helpful__wrapper">
                                <a href="https://www.google.com">
                                    <div class="helpful__link float-left">Fix connection issues</div>    
                                    <div class="arrow__block float-left"><img class="helpful__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                                </a>
                            </div>

                            <div class="helpful__wrapper">
                                <a href="https://www.google.com">
                                    <div class="helpful__link float-left">TV channels are out</div>    
                                    <div class="arrow__block float-left"><img class="helpful__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                                </a>
                            </div>

                            <div class="helpful__wrapper">
                                <a href="https://www.google.com">
                                    <div class="helpful__link float-left">Other Fios service issue</div>    
                                    <div class="arrow__block float-left"><img class="helpful__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                                </a>
                            </div>


                        </div> <!-- /hero__wrapper__sub-wrapper -->


                    </div> <!-- /hero__wrapper -->


                </div> <!-- /hero -->




               




                <div class="sales-banner-bottom">

                    <div class="sales-banner-bottom__wrapper">

                        <div class="sales-banner-bottom__section-left">Want to upgrade or renew your Fios service?</div>
                        <div class="sales-banner-bottom__section-right">
                            <div class="float-left">Login to get started</div>
                            <img class="arrow" src="/assets/assets-index/Page1b.png">
                        </div>

                    </div>

                </div>




                <div class="more-support">


                    <div class="more-support__wrapper">


                        <div class="more-support__sub-wrapper">


                            <div class="text-wrapper">Need more support?</div>


                            <div class="support__wrapper">


                                <div class="block left__block">
                                    <img src="assets/assets-support/ask.png" class="left__block--img">
                                    <div class="float-left left">
                                        <div class="header-text">Ask Verizon</div>
                                        <div class="body-text">Verizon agents are ready to help you.</div>


                                        <a href="https://www.google.com">
                                            <div class="left__block--link float-left">1.800.VERIZON</div>
                                        </a>


                                    </div>
                                </div>


                                <div class="block center__block">
                                    <img src="assets/assets-support/wireless.png" class="center__block--img">
                                    <div class="float-left center">
                                        <div class="header-text">Verizon Wireless</div>
                                        <div class="body-text">Get help with your device or Wireless account.</div>


                                        <div class="wireless-link__wrapper">
                                            <a href="https://www.google.com">
                                                <div class="center__block--link float-left">Wireless support</div>
                                                <div class="support-arrow__wrapper float-left">
                                                    <img class="support-arrow float-left" src="assets/assets-support/support-arrow.png">
                                                </div>
                                            </a>
                                        </div>


                                    </div>
                                </div>


                                <div class="block right__block">
                                    <img src="assets/assets-support/order-status.png" class="right__block--img">
                                    <div class="float-left right">
                                        <div class="header-text">Order/repair status</div>
                                        <div class="body-text">Login to check your existing order or repair status.</div>


                                        <div class="status-link__wrapper">
                                            <a href="https://www.google.com">
                                                <div class="right__block--link float-left">Check status</div>
                                                <div class="support-arrow__wrapper float-left">
                                                    <img class="support-arrow float-left" src="assets/assets-support/support-arrow.png">
                                                </div>
                                            </a>
                                        </div>


                                    </div>
                                </div>


                            </div> <!-- /support-block -->


                        </div> <!-- /more-support__sub-wrapper -->


                    </div> <!-- /more-support__wrapper -->


                </div> <!-- /more-support -->




                <div class="divider"></div>




                <div class="footer">


                    <div class="footer__section-left">

                        <div class="footer__subsection--nav">

                            <div class="nav-link"><a href="/shop-fios">Shop Fios</a></div>

                            <div class="nav-link"><a href="/why-fios">Why Fios</a></div>

                            <div class="nav-link"><a href="/support">Support</a></div>

                            <div class="nav-link"><a href="/my-verizon">My Verizon</a></div>

                        </div> <!-- / footer__subsection--nav -->

                        <div class="footer__subsection--copyright">&copy; Copyright 2017 Vweb. All rights reserved</div>
                        
                        <div class="footer__subsection--terms">
                            <a class="terms-link" href="https://www.google.com">Terms of Service</a>
                            <a class="terms-link" href="https://www.google.com">Privacy Policy</a>
                            <a class="terms-link" href="https://www.google.com">Cookie-Opt-Out</a>
                        </div> <!-- /footer__subsection--terms -->

                        
                    </div> <!-- /footer__section-left -->


                    <div class="footer__section-right">
                        <div class="share">Share:</div>
                        <a href="https://www.facebook.com"><img class="facebook" src="/assets/assets-index/facebook.png"></a>
                        <a href="https://www.twitter.com"><img class="twitter" src="/assets/assets-index/twitter.png"></a>
                        <a href="https://plus.google.com/"><img class="google" src="/assets/assets-index/G+.png"></a>
                    </div> <!-- /footer__section-right -->


                </div> <!-- /footer -->




            </div> <!-- /wrapper -->




        </div> <!-- /wrapper-about-fios -->




    </body>
</html>
