<!DOCTYPE html>
<html>


    <head>

        <link rel="stylesheet" type="text/css" href="style.css"/>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js" integrity="sha256-F0O1TmEa4I8N24nY0bya59eP6svWcshqX1uzwaWC4F4=" crossorigin="anonymous"></script>

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
        <!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->

        <script src="script.js" type="text/javascript"></script>

        <!-- slick CDN -->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
        <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    </head>


    <body>




        <div class="background-overlay display-none"></div>




        <div class="my-verizon display-none">
            <img src="assets/assets-my-verizon/exit.png" class="float-right" id="js-my-verizon-exit">
            <div class="text-large">Welcome back, Verizon customer.</div>
            <div class="text-medium">How can we help you today?</div>


            <div class="block block__left float-left">


                <div class="block__left--top float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">Pay my bill / Account help</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">Log in to your My Verizon account.</div>
                </div> <!-- /block__left--top -->


                <div class="block__left--bottom float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">I'm moving</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">We'll help make the process simple and easy.</div>
                </div> <!-- /block__left--bottom -->


            </div> <!-- /block__left -->


            
            <div class="block block__right float-left">


                <div class="block__right--top float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">Upgrade / change my service</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">Add or upgrade services in the online cart.</div>
                </div> <!-- /block__right--top -->


                <div class="block__right--bottom float-left">
                    <div class="my-verizon__wrapper">
                        <a href="https://www.google.com">
                            <div class="my-verizon__link float-left">Technical support</div>    
                            <div class="arrow__block float-left"><img class="my-verizon__link--arrow float-left" src="assets/assets-support/arrow.png"></div>
                        </a>
                    </div>
                    <div class="text-medium clear">Visit the Fios support center.</div>
                </div> <!-- /block__right--bottom -->


            </div> <!-- /block__left -->


        </div> <!-- /my-verizon -->




        <div class="page-why-fios">




            <div class="wrapper">




                <div class="header">


                    <a class="header__icon float-left" href="/index">


                        <img class="fios-icon float-left" src="/assets/assets-index/fios.png">
                        <img class="checkmark-icon float-right" src="/assets/assets-index/check.png">
                        <div class="logo-maintext clear">by verizon</div>
                        <div class="logo-subtext">authorized retailer</div>


                    </a>


                    <div class="header__contact">


                        <div class="customer-type float-left">
                            <div class="float-left residential">Residential</div>
                            <div class="float-left business">Business</div>
                        </div>
                        <div class='contact-number'>
                            <div class='icon'><img src='/assets/assets-index/ShapeHeader.png'></div>
                            <div class="number">Ready to order: Call 1.888.888.8888</div>
                            <div class="message">15+ sales agents are ready to help.</div>
                        </div>


                    </div>


                    <div class="header__nav">


                        <div class="nav-link float-left">
                            <a href="/shop-fios">Shop Fios</a>
                        </div>

                        <div class="nav-link float-left">
                            <a href="/why-fios">Why Fios</a>
                        </div>

                        <div class="nav-link float-left">
                            <a href="/support">Support</a>
                        </div>

                        <div class="nav-link float-left" id="js-my-verizon-modal">
                            <div>My Verizon</div>
                        </div>


                    </div> <!-- /header__nav -->


                </div> <!-- /header -->




                <div class='main-divider'></div>




                <div class="hero">


                    <div class='hero-wrapper'>


                        <div class="hero-wrapper__sub-wrapper">

                            <div class='hero-text-large'>See the difference &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; for yourself on the &nbsp; &nbsp; &nbsp; 100% fiber-optic network.</div>
                            <div class="hero-text-medium">Don't settle for anything less than a 100% fiber-optic network.</div>
                            <div>
                                <div class="hero-icon-wrapper__subsection-left">Learn more</div>
                                <img class="hero-icon-wrapper__subsection-right" src="/assets/assets-why-fios/Arrow-right.png">
                            </div>

                        </div> <!-- /hero__wrapper__sub-wrapper -->


                    </div> <!-- /hero__wrapper -->


                </div> <!-- /hero -->




                <div class="sticky-nav__wrapper" id="js-nav">


                    <div class="sticky-nav__subwrapper">


                        <div class="sticky-nav">

                            <div class="sticky-nav__link-wrapper">
                                <div class="sticky__link" id="internetScroll">Internet</div>
                                <div class="sticky__link" id="tvScroll">TV</div>
                                <div class="sticky__link" id="fiosVsCableScroll">Fios vs cable</div>
                                <div class="sticky__link" id="gamingScroll">Gaming</div>
                                <div class="sticky__link" id="fiosMobileScroll">Fios&trade; Mobile App</div>
                                <div class="sticky__link" id="awardsScroll">Awards</div>
                            </div>

                            <div class="sticky-nav__start-shopping">Start shopping</div>

                        </div> <!-- /sticky-nav -->


                    </div> <!-- /sticky-nav__subwrapper -->


                </div> <!-- /sticky-nav__wrapper -->




                <div class="hero-two" id="margin-pre-mod">


                    <div class='hero-wrapper'>


                        <div class="hero-wrapper__sub-wrapper">

                            <div class='hero-text-large'>The fastest internet available.<sup class="superscript">1</sup></div>
                            <div class="divider"></div>
                            <div class="hero-text-medium">There's fast. And then there's Fios fast.</div>
                            <div class="hero-text-small">Fios is the fastest internet available.<sup>1</sup> Period. Why's that? Because Fios provides a 100% fiber-optic network for your home. So get the best internet with the 100% fiber-optic network.</div>


                            <div class="hero-wrapper__sub-block float-left">

                                <div class="hero-text-medium-modified float-left">Internet plans start at $39.99/mo.</div>
                                <div class="legals float-left">plus taxes, equip. charges & other fees</div>

                            </div>

                            <div class="view-plans float-left">View plans</div>





                        </div> <!-- /hero__wrapper__sub-wrapper -->


                    </div> <!-- /hero__wrapper -->


                </div> <!-- /hero-two -->




                <div class="hero-three">


                    <div class='hero-wrapper'>


                        <div class="hero-wrapper__sub-wrapper">
                            <div class='hero-text-large'>America's most preferred TV service provider.<sup class="superscript">2</sup></div>
                            <div class="divider"></div>
                            <div class="hero-text-medium">You've never seen TV like Fios TV</div>
                            <div class="hero-text-small">Streaming on your 4K TV is only as good as your internet. So get the best internet with the 100% fiber-optic network. And stream your favorite shows and movies in stunning 4K fashion.</div>
                            <div class="hero-wrapper__sub-block float-left">
                                <div class="hero-text-medium-modified float-left">TV bundles start at $49.99/mo.</div>
                                <div class="legals float-left">plus taxes, equip. charges & other fees</div>
                            </div>
                            <div class="view-plans float-left">View plans</div>



                            <div class="ad__wonder-woman">


                                <img src="/assets/assets-why-fios/Stream-Wonder-Woman.png">

                            </div>




                        </div> <!-- /hero__wrapper__sub-wrapper -->


                    </div> <!-- /hero__wrapper -->


                </div> <!-- /hero-two -->




                <div class="hero-four">


                    <div class="hero-four__wrapper">


                        <div class="hero-four__subwrapper">


                            <div class="hero-wrapper-left float-left">

                                <div class='hero-text-large float-left'>Top ranked in customer satisfaction.</div>

                                <div class="hero-text-medium">All networks are not created equal.</div>

                                <div class="hero-text-small">In the last 10 years, we've won more awards for internet speed and customer satisfaction than any other provider. See for yourself what makes Fios so great.</div>

                            </div>


                            <div class="hero-wrapper-right float-left">


                                <div class="title">PCMag Readers' Choice Awards 2017 Internet Service Providers - Overalls Scores</div>


                                <div class="ranks-fios">
                                    <div class="fios float-left">Fios</div>
                                    <div class="score-fios float-right">8.1</div>
                                </div>


                                <div class="ranks-general cox">
                                    <div class="company-general float-left">Cox</div>
                                    <div class="score-general float-right">7.1</div>
                                </div>


                                <div class="ranks-general optimum_online">
                                    <div class="company-general float-left">Optimum Online</div>
                                    <div class="score-general float-right">7.0</div>
                                </div>


                                <div class="ranks-general comcast_xfinity">
                                    <div class="company-general float-left">Comcast Xfinity</div>
                                    <div class="score-general float-right">6.9</div>
                                </div>


                                <div class="ranks-general spectrum">
                                    <div class="company-general float-left">Spectrum</div>
                                    <div class="score-general float-right">6.8</div>
                                </div>

                                <div class="divider"></div>

                                <div class="tick__block">
                                    <div class="tick__left float-left">4.0</div>
                                    <div class="tick__center float-left">6.0</div>
                                    <div class="tick__right float-left">8.0</div>
                                </div>

                                <div class="legals">Reprinted from www.pcmag.com with permission. &copy;2017 Ziff Davis, Inc. All Rights Reserved. Based on PCMag.com's Readers Choice Survey customer ratings of ISP performance.</div>

                            </div>


                        </div> <!-- hero-four__subwrapper -->


                    </div> <!-- /hero-four__wrapper -->


                </div> <!-- /hero-four -->




                <div class="hero-five">


                    <div class="hero-wrapper">


                        <div class="hero-wrapper__sub-wrapper">

                            <div class="hero-text-large">Less lag. More brag.</div>
                            <div class="hero-text-medium">Gaming is only as good as your internet. So get the best internet with the 100% fiber-optic network.</div>

                        </div>


                    </div>


                </div> <!-- /hero-five -->




                <div class="hero-six">


                    <div class="hero-wrapper">


                        <div class="hero-wrapper__sub-wrapper">

                            <div class="hero-text-large">Watch your favorite TV shows and movies on the Fios&trade; Mobile app.<sup class="superscript">3</sup></div>
                            <div class="divider"></div>
                            <div class="hero-text-small">Access your choice of over 200 channels and 130,000 On Demand titles when you're away from home. You can even watch your DVR recordings with Fios Multi-room DVR Service and a compatible smartphone.<sup class="superscript-micro">3</sup></div>

                            <div class="app-icons">
                                <img class="button apple-app float-left" src="/assets/assets-why-fios/apple-app.png">
                                <img class="button google-app float-left" src="/assets/assets-why-fios/google-app.png">
                            </div>

                        </div>


                    </div>


                </div> <!-- /hero-six -->




                <div class="hero-seven"></div> <!-- /hero-seven -->




                <div class="awards">


                    <div class="awards__wrapper">


                        <div class="awards__subwrapper">


                            <div class="text-wrapper">
                                <div class="text__top">Awards are good.</div>
                                <div class="text__bottom">Awards from our customers are better.</div>
                            </div>


                            <div class="awards-block">


                                <div class="awards-block__subsection-left float-left">
                                    <img src="/assets/assets-why-fios/awards-left.png">
                                    <div class="text-large">Fios Internet is rated #1 in customer satisfaction.</div>
                                    <div class="text-small">2017 American Customer Satisfaction Index&reg; (ASCI) for Internet Service Providers (customers rating own services)</div>
                                </div>

                                <div class="awards-block__subsection-middle float-left">
                                    <img src="/assets/assets-why-fios/awards-middle.png" class="img">
                                    <div class="text-large">America's most preferred Internet and TV service provider.</div>
                                    <div class="text-small">451 Research, LLC. Based on Leading Indicator Jan 2016 ISP & Sept 2016 TV surveys among a panel of educated consumers. For more go to changewaveresearch.com/vz</div>
                                </div>

                                <div class="awards-block__subsection-right float-left">

                                    <img src="/assets/assets-why-fios/awards-right.png" class="img">

                                    <div class="text-large">Rated #1 in reliability in a customer satisfaction study &dash;12 years in a row.</div>

                                    <div class="text-small">Reprinted from www.pcmag.com with permission. &copy;2017 Ziff Davis, Inc. All Rights Reserved. Based on PCMag.com's Readers Choice Survey customer ratings of ISP performance.</div>

                                </div>


                            </div> <!-- /awards-block -->


                        </div>


                    </div>


                </div>




                <div class="sales-banner-bottom">

                    <div class="sales-banner-bottom__wrapper">

                        <div class="sales-banner-bottom__section-left">Take your home life to the next level with Fios.</div>

                        <a href="https://www.google.com">
                            <div class="sales-banner-bottom__section-right global__arrow__wrapper">
                                <div class="float-left">Start shopping</div>
                                <div class="global__arrow__block">
                                    <img class="global__arrow arrow" src="/assets/assets-index/Page1b.png">
                                </div>
                            </div>
                        </a>
                        
                    </div>

                </div>




                <div class="footer">


                    <div class="footer__section-left">

                        <div class="footer__subsection--nav">

                            <div class="nav-link"><a href="/shop-fios">Shop Fios</a></div>

                            <div class="nav-link"><a href="/why-fios">Why Fios</a></div>

                            <div class="nav-link"><a href="/support">Support</a></div>

                            <div class="nav-link" id="js-my-verizon-modal">
                                <div>My Verizon</div>
                            </div>

                        </div> <!-- / footer__subsection--nav -->

                        <div class="footer__subsection--copyright">&copy; Copyright 2017 Vweb. All rights reserved</div>
                        
                        <div class="footer__subsection--terms">
                            <a class="terms-link" href="https://www.google.com">Terms of Service</a>
                            <a class="terms-link" href="https://www.google.com">Privacy Policy</a>
                            <a class="terms-link" href="https://www.google.com">Cookie-Opt-Out</a>
                        </div> <!-- /footer__subsection--terms -->

                        
                    </div> <!-- /footer__section-left -->


                    <div class="footer__section-right">
                        <div class="share">Share:</div>
                        <a href="https://www.facebook.com"><img class="facebook" src="/assets/assets-index/facebook.png"></a>
                        <a href="https://www.twitter.com"><img class="twitter" src="/assets/assets-index/twitter.png"></a>
                        <a href="https://plus.google.com/"><img class="google" src="/assets/assets-index/G+.png"></a>
                    </div> <!-- /footer__section-right -->


                </div> <!-- /footer -->




            </div> <!-- /wrapper -->




        </div> <!-- /wrapper-about-fios -->




    </body>
</html>
